# Alias       | Description    | FeedUrl                                       | Selector    | Limit
heise         | Heise news     | http://www.heise.de/newsticker/heise-atom.xml | article     | 10
golem         | Golem news     | http://rss.golem.de/rss.php?feed=RSS2.0       | article     | 10
javarevisited | Java revisited | http://feeds.feedburner.com/Javarevisited     | .post       | 10
prolinux      | Pro Linux news | http://pro-linux.de/rss/2/3/rss20_aktuell.xml | #news       | 10
androidpolice | Android Police | http://feeds.feedburner.com/AndroidPolice     | [id^=post-] | 10
asienspiegel  | Asienspiegel   | http://asienspiegel.ch/feed/                  | #content    | 3
